body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
    background: hsl(166, 74%, 85%);
    font-size: 150%;
  }



  
  /* Header/Blog Title */
  .header {
    padding:0.1px;
    font-size: 40px;
    text-align: center;
    background: rgb(76, 219, 195);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 40%;
  }
  
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 50px;
  }
  
  
  .image {
    background-color: rgb(151, 232, 218);
    width: 100%;
    padding: 20px;
  }
  
  
  .card {
    background-color: rgb(152, 233, 219);
    padding: 70px;
    margin-top: 70px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(153, 234, 220);
    margin-top: 20px;
  }
  
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }